<h1>New PO Number</h1>
<%= form_for :ponumber, url: ponumbers_path do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </p>
    <p>
    <%= f.label :project %><br>
    <%= f.text_field :project %>
  </p>
 
  <p>
    <%= f.submit :generate %>
  </p>
    
 
<% end %>

